* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
body {
  background-color: black;
  color: white;
}
#producttable-head1 {
  font-size: 3rem;
  display: flex;
  justify-content: center;
}
/* #addproductbtn {
  display: flex;
  justify-content: center;
} */
